.s3
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 5em
    .s3_title
        display: flex
        text-align: left
        justify-content: flex-start
        flex-direction: column
        align-items: flex-start
        width: 73%
        padding-bottom: 5em
        h1
            color: #484848
        h4
            color: $h3
            font-weight: 100
    .bubble
        display: flex
        width: 80%
        gap: 5em
        justify-content: center
        align-content: center
        align-items: center
        padding-bottom: 5em
        div
            display: flex
            .left
                text-align: left
                padding-left: 1em
            .right
                text-align: right
                padding-right: 1em
            .s3_txt
                display: flex
                flex-direction: column
                padding-top: 1em
                width: 23em
                h1
                    font-size: 1em
                h4
                    font-size: 1em
                    padding-bottom: 1em
                p
                    font-size: .8em
                    color: #878B8F
            img
                border-radius: 100%
                border: solid #E3E3E3 10px
                height: 10em
                width: 10em

@media ( max-width: 768px )
    .s3
        .bubble
            flex-direction: column
            div
                .s3_txt
                    width: 30em

@media ( max-width: 425px )
    .s3
        .bubble
            div
                .s3_txt
                    width: 70%
                img
                    border-radius: 1%
                    width: 10em
                    height: auto
                    object-fit: cover